
<div id="content-header" class="ms-bgColor-themePrimary">
    <div class="icon">
        <img src="../Images/icon-header.png" height="80" width="80">
    </div>
    <div class="title">
        <span class="ms-font-xxl ms-fontWeight-regular">Delve Classifier</span>
    </div>
</div>

<div  style="width:1px; height:1px;">
	<iframe id="myspframe" src="https://alexepam-my.sharepoint.com/style%20library/Auth.aspx" style="width:1px; height:1px;" ></iframe>
</div>

<div id="content-actions" class="test">
    <div class="padding">
        <div class="create-board">
            <div class="ms-SearchBox">
              <input class="ms-SearchBox-field" ng-change="vm.search()" ng-model="vm.searchQuery">
              <label class="ms-SearchBox-label"><i class="ms-SearchBox-icon ms-Icon ms-Icon--pencil"></i>Find a board...</label>
                <button class="ms-SearchBox-closeButton" ng-disabled="vm.searchQuery.length < 1" ng-mousedown="vm.search(true)"><i class="ms-Icon ms-Icon--x"></i></button>
            </div>
        </div>
       
        <hr>
    </div>
</div>

    <div id="content-main">
        <div class="padding" ng-show="vm.loaded === true && vm.loading === false && vm.boards.length > 0">
            <div ng-repeat="board in vm.boards">
                <div ng-controller="boardController as bc" ng-init="loadBoardDocuments(vm.currentDoc)" ng-class="getBoardClass()" ng-show="visibleInFilter">
                    <div class="board-name" ng-click="toggleBoardSelected($event, board)">
                        <span class="board-icon" ng-click="expandCollapsBoard($event)"><i ng-class="isOpened ? 'ms-Icon ms-Icon--caretDownRight' : 'ms-Icon ms-Icon--caretRightOutline'"><a href="{{::currentBoard.url}}" /></i></span>
                        <span class="board-title">{{::board.title}}</span>
                        <span class="board-action">
                            <a href="{{::board.url}}" target="_blank">
                                <i class="ms-Icon ms-Icon--arrowUpRight"></i>
                            </a>
                        </span>
                    </div>
                    <div class="board-files" style="display:none;">
                        <div ng-repeat="document in boardDocuments">
                            <div class="ms-Table" ng-show="bc.loaded">
                                <div class="ms-Table-row">
                                    <span class="ms-Table-cell"><i class="ms-Icon ms-Icon--document"></i><a href="{{::document.onlineUrl}}" target="_blank">{{::document.title}}</a></span>
                                    <span class="ms-Table-cell">
                                        <button class="ms-Callout-close">
                                            <i class="ms-Icon ms-Icon--x"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="board-files" ng-show="bc.noDocs()">
                            THERE ARE NO FILES
                        </div>
                        <div class="board-files" ng-hide="bc.loaded">
                            LOADING...
                        </div>
                    </div>
                </div>
            </div>

            <div class="noboardsfilter" ng-show="vm.noBoardsShown()">
                <div class="noboardsfilter-name">
                    <span class="noboardsfilter-title">No boards found</span>
                </div>
            </div>

            <div class="noboardsloaded" ng-show="vm.noBoardsLoaded()">
                <div class="noboardsloaded-name">
                    <span class="noboardsloaded-title">No boards loaded</span>
                </div>
            </div>

            <!--div class="board">
                <div class="board-name">
                    <span class="board-icon"><i class="ms-Icon ms-Icon--caretRightOutline"></i></span>
                    <span class="board-title">Demo Presentation</span>
                    <span class="board-action">
                        <i class="ms-Icon ms-Icon--link"></i>
                    </span>
                </div>
            </div>

            <div class="board selected">
                <div class="board-name">
                    <span class="board-icon"><i class="ms-Icon ms-Icon--caretRightOutline"></i></span>
                    <span class="board-title">Test Inviroment</span>
                    <span class="board-action">
                        <i class="ms-Icon ms-Icon--link"></i>
                    </span>
                </div>
            </div-->
        </div>
    </div>

    <div id="content-footer"></div>

    <!--script type="text/javascript" src="../Scripts/jquery.fabric.min.js"></script-->
    <script type="text/javascript">
    $(document).ready(function () {
        /*if ($.fn.TextField) {
            $('.ms-TextField').TextField();
        }*/

        if ($.fn.SearchBox) {
            $('.ms-SearchBox').SearchBox();
        }

        /*$('.suggest-board .ms-Button').click(function() {
            $(this).toggleClass('selected');
            $(this).find('.icon').toggleClass('ms-u-slideRightIn40');
        });*/
    });

    //jQuery('.ms-TextField').TextField();
    //fabric.Spinner(jQuery('.mv-spinner')[0]).start();
</script>